{% extends "header.html" %}

{% block content %}
    <h1>Here is your character!</h1>
    <table>
    {% for attr, value in traits %}
      <tr>
        <td class="attr"><span class="emphasis">{{ attr }}:</span></td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
    </table>
    <p class="question">
      Important!
    </p>
    <p>
      If one or more of the traits generated don't suit your story, <span class="emphasis">ignore those
      traits and keep the rest!</span> Do not generate a new character! This is to make sure that you don't bias
      the results.
    </p>
    <p>
      And don't forget, these traits don't necessarily need to show up in the story! Just make sure they do if
      they're relevant.
    </p>
    <p>
        Statistics used:
        <select id="regionSelect">
            <option {% if region == 'worldwide' %}selected="selected"{% endif %} value="worldwide">Worldwide</option>
            <option {% if region == 'usa' %}selected="selected"{% endif %} value="usa">United States</option>
        </select>
        {% if region == 'worldwide' %} (Note that sexual orientation and gender identity are always based on US
            statistics.){% endif %}
    </p>
    <div class="footerButtons">
        <button class="btn" onclick="generateNew()">Generate another character</button>
    </div>

    <script>
        function generateNew() {
            window.location.href = '/generate/' + document.getElementById("regionSelect").value;
        }
    </script>
    <br/>
{% endblock %}