{% extends "header.html" %}

{% block content %}
    <h1>Random Character Generator</h1>
    <p>
      Hi there! You've reached a site for generating characters with randomized traits.
    </p>
    <p>
      Here's the idea: You're writing something (be it a novel, a script, a video game or anything else) and want to
      make sure the characters are diverse. Fair representation is in everyone's best interest! Only problem is,
      how do you make sure the characters are representative? Is one woman not enough? Are three black characters
      too many?
    </p>
    <p>
      We're here to solve that problem for you by randomly creating characters according to actual statistics. If
      enough people use this website, representation of minorities in their stories will match the actual
      representation of those minorities in society. So don't worry if your randomly generated character is a
      straight white male - together with all the other generated characters, they'll paint the right picture.
    </p>
    <div class="footerButtons">
        <a class="btn" href="/generate/worldwide">Generate a random human</a>
        <a class="btn" href="/generate/usa">Generate a random US resident</a>
    </div>
{% endblock %}